<!DOCTYPE html>
<html>
<head>
    <title>Insite - <%= @geograph.name %></title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Asap:400,700,400italic|Terminal+Dosis' %>
    <%= stylesheet_link_tag(params[:controller].singularize + '/' + params[:action], :media => 'all') %>
    <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
    <%= javascript_include_tag(params[:controller].singularize + '/' + params[:action]) %>
    <%= javascript_include_tag('http://maps.google.com/maps/api/js?v=3.5&sensor=false') %>
    <%= csrf_meta_tags %>
    <style>
        .spot_swatch, .spot_circle {
            width: <%= (@geograph.max_spot_size * 2) - 2 %>px;
            height: <%= (@geograph.max_spot_size * 2) - 2 %>px;
        }
    </style>
</head>
<body>
    <div id="content" role="main">
        <% if flash[:notice] %>
            <p class="flash notice"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:alert] %>
            <p class="flash alert"><%= flash[:alert] %></p>
        <% end %>
        <% if flash[:error] %>
            <p class="flash error"><%= flash[:error] %></p>
        <% end %>
        <h1 class="overlay" id="geo_graph_title"><%= @geograph.name %></h1>

        <div class="overlay" id="controls">
            <h2>Settings</h2>
            <%= semantic_form_for @geograph, :remote => true do |f| %>
                <%= f.inputs do %>
                    <% unless @geograph.measures.empty? %>
                        <%= f.input :size_measure, :as => :select, :collection => @geograph.measures, :include_blank => false %>
                        <%= f.input :color_measure, :as => :select, :collection => @geograph.measures, :include_blank => false %>
                        <%= f.input :color_theme, :as => :radio, :value_as_class => true, :member_label => '', :wrapper_html => { :class => :gradient } %>
                    <% end %>
                <%= f.buttons %>
                <% end %>
            <% end %>
            <button id="hideTable">Toggle Data Table</button>
        </div>

        <div class="overlay" id="legend">
            <h2>Legend</h2>
            <div id="sizes">
                <h3>Sizes</h3>
            </div>
            <div id="colors">
                <h3>Colors</h3>
            </div>
        </div>

        <div id="map"></div>

        <table> 
            <thead>
                <tr>
                    <th>Place Name</th>
                    <% @geograph.measures.each do |measure| %>
                        <th><%= measure.name %></th>
                    <% end %>
                </tr>
            </thead>
            <tbody>
                <% @geograph.places.each do |place| %>
                    <tr>
                        <td><%= place.name %></td>
                        <% @geograph.measures.each do |measure| %>
                            <td><%= measure.value(place) %></td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <script>
        var places, map, spots, base, googleProj, standardProj, path = '<%= geo_graph_path(@geograph) %>.json';

        $(function() {
            $('#edit_geo_graph_<%= @geograph.id %> input[type=submit]').hide();
            $('#edit_geo_graph_<%= @geograph.id %>').find('input, select').change(function(e) { place_spots(); } );
            //$('#edit_geo_graph_<%= @geograph.id %>').bind('ajax:success', function() { place_spots(); } );
            $('#hideTable').click(function() { $('table').toggle() });
            OpenLayers.ImgPath = '<%= image_path('openlayers') %>/';
            map_controls = [
                new OpenLayers.Control.ArgParser(),
                new OpenLayers.Control.Attribution(),
                new OpenLayers.Control.Navigation(),
                new OpenLayers.Control.PanZoomBar(),
                new OpenLayers.Control.KeyboardDefaults()
            ];
            map = new OpenLayers.Map('map', { controls: map_controls });
            spots = new OpenLayers.Layer.Vector("Spots");
            base = new OpenLayers.Layer.Google("Google Streets", { isBaseLayer: true, numZoomLevels: <%= @geograph.num_zoom_levels %> });
            map.addLayer(base);
            map.zoomToMaxExtent();
            map.addControl(new OpenLayers.Control.KeyboardDefaults());
            map.addLayer(spots);
            selectControl = new OpenLayers.Control.SelectFeature(spots);
            spots.events.on({
                'featureselected': function(clicked) {
                    feature = clicked.feature;
                    popup = new OpenLayers.Popup.FramedCloud("chicken", 
                        feature.geometry.getBounds().getCenterLonLat(),
                        null,
                        "<div style='font-size:.8em'>Place: " + feature.data.placeName +"<br>"
                            + $('#geo_graph_size_measure_id option:selected').text() + ' (size): ' + feature.data.sizeMeasureValue
                            + "<br />"
                            + $('#geo_graph_color_measure_id option:selected').text() + ' (color): ' + feature.data.colorMeasureValue
                            + "</div>",
                        null,
                        true
                    );
                    feature.popup = popup;
                    map.addPopup(popup);
                }
            });
            map.addControl(selectControl);
            selectControl.activate();
            googleProj = map.getProjectionObject();
            standardProj = new OpenLayers.Projection('EPSG:4326');
            place_spots();
        }); 
    </script>
</body>
</html>

