<!DOCTYPE html>
<html>
<head>
    <title><%= t :app_title %> - <%= @geograph.name %></title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Asap:400,700,400italic|Terminal+Dosis' %>
    <%= stylesheet_link_tag('geo_graph/show', :media => 'all') %>
    <!--[if IE 6]><%# stylesheet_link_tag 'ie6' %><![endif]-->
    <!--[if IE 7]><%# stylesheet_link_tag 'ie7' %><![endif]-->
    <!--[if lt IE 9]><%= javascript_include_tag "//html5shiv.googlecode.com/svn/trunk/html5.js"%><![endif]-->
    <%= csrf_meta_tags %>
    <style>
        .spot_swatch, .spot_circle {
            width: <%= ([@geograph.max_spot_size, @geograph.min_spot_size].max * 2) - 2 %>px;
            height: <%= ([@geograph.max_spot_size, @geograph.min_spot_size].max * 2) - 2 %>px;
        }
    </style>
</head>
<body>
    <div id="content" role="main">
        <% if flash[:notice] %>
            <p class="flash notice"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:alert] %>
            <p class="flash alert"><%= flash[:alert] %></p>
        <% end %>
        <% if flash[:error] %>
            <p class="flash error"><%= flash[:error] %></p>
        <% end %>

        <div class="sidebar">
            <div class="overlay" id="geo_graph_title">
                <h1 title="<%= @geograph.name %>"><%= @geograph.name %></h1>
                <a href="#" title="<%= t '.help_toggle' %>" class="activate-help"><%= t '.help_button' %></a>
                <div>
                    <%= link_to t(:home), root_path %>
                    <% if current_user == @geograph.user %>
                        <%= link_to t('.edit'), edit_geo_graph_path(@geograph) %>
                        <%= link_to t('.default_view'), edit_geo_graph_path(@geograph), :class => :help, :id => 'set-default-view' %>
                    <% end %>
                </div>
            </div>

            <div class="overlay" id="geograph_settings">
                <h2><%= t '.settings' %></h2>
                <% unless @geograph.measures.empty? %>
                    <%= semantic_form_for @geograph, :remote => true do |f| %>
                        <%= f.inputs do %>
                            <%= f.input :size_measure, :as => :select, :collection => @geograph.measures.selectable, :include_blank => false %>
                            <%= f.input :color_measure, :as => :select, :collection => @geograph.measures.selectable, :include_blank => false %>
                            <%= f.input :color_theme, :as => :radio, :value_as_class => true, :member_label => '', :wrapper_html => { :class => 'show-gradient' } %>
                        <% end %>
                    <% end %>
                <% end %>
                <!-- <button id="hideTable">Toggle Data Table</button> -->
            </div>

            <% unless @geograph.num_legend_sizes == 0 and @geograph.num_legend_colors == 0 %>
                <div class="overlay" id="legend">
                    <h2><%= t '.legend' %></h2>
                    <% if @geograph.num_legend_sizes > 0 %>
                        <div id="sizes">
                            <h3 id="size-title"></h3>
                        </div>
                    <% end %>
                    <% if @geograph.num_legend_colors > 0 %>
                        <div id="colors">
                            <h3 id="color-title"></h3>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>

        <div id="map"></div>

        <% if current_user == @geograph.user %>
            <div id="default-map-view">
                <%= semantic_form_for @geograph, :remote => true, :html => { :id => 'default_view_form' }, :namespace => 'default_view' do |f| %>
                    <%= f.input :default_zoom_level %>
                    <%= f.input :default_latitude, :as => :string %>
                    <%= f.input :default_longitude, :as => :string %>
                    <%= f.input :color_measure_id, :as => :string %>
                    <%= f.input :size_measure_id, :as => :string %>
                    <%= f.input :color_theme_id, :as => :string %>
                <% end %>
            </div>
        <% end %>
<%
        #<table> 
        #    <thead>
        #        <tr>
        #            <th>Place Name</th>
        #            <% @geograph.measures.each do |measure| 
        #                <th><%= measure.name </th>
        #            <% end 
        #        </tr>
        #    </thead>
        #    <tbody>
        #        <% @geograph.places.each do |place| 
        #            <tr>
        #                <td><%= place.name </td>
        #                <% @geograph.measures.each do |measure| 
        #                    <td><%= measure.value(place) </td>
        #                <% end 
        #            </tr>
        #        <% end 
        #    </tbody>
        #</table>
%>
    </div>

    <div class="help-texts">
        <div id="set-default-view-help"><%= t '.default_view_help' %></div>
        <div id="geo_graph_size_measure_input-help"><%= t '.size_measure_help' %></div>
        <div id="geo_graph_color_measure_input-help"><%= t '.color_measure_help' %></div>
        <div id="geo_graph_color_theme_input-help"><%= t '.color_theme_help' %></div>
        <div id="sizes-help"><%= t '.sizes_help' %></div>
        <div id="colors-help"><%= t '.colors_help' %></div>
    </div>

    <div id="blinder"></div>

    <script>
        var ajax_path = '<%= geo_graph_path(@geograph) %>.json',
            asset_path = '<%= Code::Application.config.assets.prefix %>/',
            geograph_zoom_levels = <%= @geograph.num_zoom_levels %>
            <% if @geograph.default_zoom_level %>
                , geograph_default_zoom = <%= @geograph.default_zoom_level %>
            <% end %>
            <% if @geograph.default_latitude and @geograph.default_longitude %>
                , geograph_default_latitude = <%= @geograph.default_latitude %>
                , geograph_default_longitude = <%= @geograph.default_longitude %>
            <% end %>
        ;
    </script>
    <%= javascript_include_tag '//maps.google.com/maps/api/js?v=3.5&sensor=false' %>
    <%= javascript_include_tag 'geo_graph/show' %>
</body>
</html>
